.footer{
    background:#020617;
    color:#fff;
    padding:70px 8% 25px;
    margin-top:80px;
}

.footer-container{
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:2fr 1fr 1.2fr;
    gap:50px;
}

.footer-logo h2{
    font-size:32px;
    color:#38bdf8;
    margin-bottom:18px;
}

.footer-logo p{
    color:#cbd5e1;
    line-height:1.8;
    font-size:15px;
}

.footer-links h3,
.footer-contact h3{
    margin-bottom:20px;
    color:#38bdf8;
}

.footer-links{
    display:flex;
    flex-direction:column;
}

.footer-links a{
    color:#cbd5e1;
    text-decoration:none;
    margin-bottom:12px;
    transition:.3s;
}

.footer-links a:hover{
    color:#38bdf8;
    transform:translateX(8px);
}

.footer-contact p{
    color:#cbd5e1;
    margin-bottom:15px;
    display:flex;
    align-items:center;
    gap:10px;
}

.footer-social{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.footer-social a{
    width:45px;
    height:45px;
    border-radius:50%;
    background:#0f172a;

    display:flex;
    align-items:center;
    justify-content:center;

    color:white;
    font-size:20px;

    transition:.35s;
}

.footer-social a:hover{
    background:#38bdf8;
    transform:translateY(-6px);
}

.footer-bottom{
    margin-top:50px;
    padding-top:25px;
    border-top:1px solid rgba(255,255,255,.08);

    text-align:center;
    color:#94a3b8;
}

.heart{
    color:#ef4444;
    animation:beat 1s infinite;
}

@keyframes beat{

0%,100%{
transform:scale(1);
}

50%{
transform:scale(1.3);
}

}

@media(max-width:900px){

.footer-container{
grid-template-columns:1fr;
text-align:center;
}

.footer-contact p{
justify-content:center;
}

.footer-social{
justify-content:center;
}

.footer-links{
align-items:center;
}

}

@media(max-width:600px){

.footer{
padding:60px 20px 25px;
}

.footer-logo h2{
font-size:28px;
}

}